#---------------------------------------------------------------------------------------------------
# Ignored file formats:

# Archives:
*.7z
*.gz
*.zip

# Media:
*.mp4
*.pdf
*.png
*.ppm
*.svg
*.wav


#---------------------------------------------------------------------------------------------------
# Ignored folders:


#---------------------------------------------------------------------------------------------------
# Ignored files:

